@import url(./);

body{
    margin: 0;
    background: url(./images/matt-gross-9aCkSl6YcXg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.container-top {
    padding: 0px;
    margin-top: 0;
}


/* SERVICES */

.container-services {
    padding-top: 80px;
    padding-bottom: 80px;
}

.services-info {
    display: flex;
    align-items: center;
}

.services-info img{
    width: 60px;
    margin-right: 20px;
    border-radius: 5%;
}

.container-services h3 {
    color: white;
}

.container-services p {
    color: white;
}

/* NUMBERS */
.container-numbers {
    background-image: url(./images/golden_sparkles_confetti_all_over.png);
}

.display-2{
    color: white;
    font-weight: bolder;
}
.container-numbers p{
    color: black;
    font-weight: bold;
    font-size: x-large;
}

/* Floors */
.floors{
    margin-top: 50px;
    margin-bottom: 50px;
}

.floors h4{
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

.floors h1{
    margin-top: 20px;
    font-weight: bolder;
    color: goldenrod;
}

.floors p{
    margin-top: 20px;
    color: white;
}

.card-floor {
    padding: 30px;
    text-align: center;
}

.card-floor h4{
    margin-top: 20px;
    font-weight: bolder;
    color: goldenrod;
}

.card-floor p{
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

/* footer */
footer {
    margin: 0;
    background: url(./images/golden_sparkles_confetti_all_over.png);
    opacity: 0.6;
}