body {
    margin: 0;
    background: url(./images/matt-gross-9aCkSl6YcXg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-mainslots {
    background-image: url(./images/golden_sparkles_confetti_all_over.png);
}


.banner-slots h1{
    color: goldenrod;
    font-weight: bolder;
    font-size: xxx-large;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.banner-slots p{
    color: black;
    font-weight: bolder;
    font-size: large;
}

.slot-header {
    color: goldenrod;
    font-weight: bold;
    font-size: x-large;
}

h4 {
    color: white;
    font-weight: bolder;
    font-size: large;
}